html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: Roboto, sans-serif;
}



/* NAVBAR */
.main-nav {
  display: flex;
  justify-content: center;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
}
.nav-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 75px;
  width: 75px;
  color: #0066cc;
  background: #fff;
  text-decoration: none;
}
.nav-icon .material-icons {
  font-size: 40px;
}
.nav-icon.active {
  background-color: #0066cc;
  color: #fff;
}



/* TYPOGRAPHY */
h1 {
  font-size: 2rem;
  font-weight: bold;
  margin: 0;
  padding: 0;
}

h2 {
  font-size: 1rem;
  font-weight: bold;
  margin: 0;
  padding: 0;
}

.text-center {
  text-align: center;
}



/* BONES */
.flex-center {
  display:flex;
  align-items:center;
  justify-content:center;
}