.container {
    display: flex;
    flex-direction: column;
    margin:auto;
    width: 55%;
    height: auto;
    min-height: 90%;
    background-color: orange;
    padding-bottom:25px;
    margin-bottom: 100px;
}
.rectangle {
    width: 976px; /* Adjust the width as per your requirement */
    height: 224px; /* Adjust the height as per your requirement */
    background-image: linear-gradient(to right, #0CEBEB, #29FFC6);
    border: 2px solid black;
    position: absolute;
    top: 20%; /* Vertically align the div to the center */
    left: 50%; /* Horizontally align the div to the center */
    display: flex;
    transform: translate(-50%, -50%); /* Center the div precisely */
}
.rectangle p{
    margin-left: 20px;
    margin-top:50px;
    font-size: 30px;
}
.rectangle span{
    font-size: 18px;
}
.Avatar{
    width:164px;
    height:164px;
    margin-left: 20px;
    margin-top:20px;
    max-width: 100%; /* Ensures the image doesn't exceed the container's width */
    max-height: 100%;
}
.content{
    width: 20px;
    height: auto;
    border: 2px solid black;
    padding: 20px;
    margin-left:10px;
}
.flex-container {
    display: flex;
    margin-top: 35%;
}
.flex-item {
  padding: 10px;
  border: 1px solid black;
}
.bigger-box {
  flex: 2; /* Take up 2/3 of the available space */
  background-color: #1B1821;
  margin-right: 5px;
  margin-left: 10px;
  min-height: 100px;
  height: auto;
  background-color: rgba(22, 27, 34, 0.4);
  color: white;
}
.smaller-box {
  flex: 1; /* Take up 1/3 of the available space */
  background-color: #1B1821;
  margin-right: 10px;
  margin-left: 5px;
  height: 450px;
  background-color: rgba(22, 27, 34, 0.4); /* Transparent background */
  color:white;
}