timeline {
  display:flex;
  justify-content:center;
  align-items:center;
  width:100%;
  height:100%;
}

posts {
  display:flex;
  justify-content:center;
  align-content: flex-start;
  flex-wrap: wrap;
  width:100%;
  height:100%;
  scrollbar-width: none;
  overflow-y: scroll;
  background: rgb(186,189,255);
  background: linear-gradient(144deg, rgba(186,189,255,1) 0%, rgba(255,226,255,1) 61%, rgba(208,255,234,1) 100%); 
}

item {
  display: block;
  width:100%;
  max-width:620px;
  height: fit-content;
  box-shadow: 0px 0px 5px rgba(0,0,0,0.3);
  margin: 30px calc(50% - 290px) 0 calc(50% - 290px);
  background: #fff;
  border-radius: 5px;
  position: relative;
}

.item-type-icon {
  position: absolute;
  right: 18px;
  top: 18px;
  padding:10px;
  border-radius: 100%;
  color:#fff;
  background: linear-gradient(144deg, rgb(140, 146, 255) 0%, rgb(255, 192, 255) 61%, rgb(113, 255, 191) 100%); 
}

item-title {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 15px;
}

item-description {
  display: block;
  padding: 0 15px 15px 15px;
}

item-stats {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

item-stat {
  width: 60px;
  display: flex;
  height: 60px;
  justify-content: space-evenly;
  align-items: center;
}

.item-pfp {
  margin-right:15px;
  background:#000
}

@media (max-width: 990px) {
  item {
    min-width: 86%;
    width: 86%;
  }
}

body {
}